#local-contexts.default {
    height: 0;
    overflow: hidden;
}

.local-contexts-notice {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
}

.element-text .local-contexts-notice {
    padding: 0;
}

.local-context-notice-meta .text {
    padding: 5px 0px;
}

.local-contexts-notice .notice-name {
    display: block;
    font-weight: bold;
}

.local-contexts-notice .language {
    font-weight: normal !important;
}

.local-contexts-multicheckbox {
    display: flex;
    flex-wrap: wrap;
}

.local-contexts-multicheckbox.inputs,
.inputs .local-contexts-multicheckbox {
    line-height: 24px;
}

.local-contexts-multicheckbox > label,
.local-contexts-multicheckbox .local-contexts-multicheckbox-row {
    display: flex;
    align-items: flex-start;
}

.inputs .local-contexts-multicheckbox {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.inputs .local-contexts-multicheckbox .column.check {
    margin: 1rem;
}

.local-contexts-multicheckbox .local-contexts-multicheckbox-row:nth-child(odd),
.local-contexts-multicheckbox > label:nth-child(odd),
.inputs .local-contexts-multicheckbox:nth-child(odd) {
    background: rgba(0,0,0,.04);
}

.local-contexts-multicheckbox input[type="checkbox"] {
    margin: 1rem !important;
}

.local-contexts-notice .image {
    height: 75px;
    border: 0px !important;
    margin-right: 1rem;
}

.project-link {
    display: block;
    width: 100%;
    font-size: 16px;
    text-align: right !important;
    padding: 1rem;
}

.project-name {
    padding: 1rem;
    font-weight: bold;
    display: block;
    width: 100%;
}

.project-link:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.value.lc-content .local-contexts-notice {
    padding: 1rem 0 0;
}

span.lc {
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
    footer .local-contexts-project {
        display: flex;
        flex-wrap: wrap;
    }

    footer .local-contexts-notice {
        width: 50%;
    }
}